
* {
    box-sizing: border-box;
  }

a:link, a:visited, a:active {
    color: red;
    text-decoration: none;
}

body {
    background: url(../media/site-background.png) no-repeat fixed center top;
    background-size: 100% 100%;
}

/* Estilo del Header de todas las páginas */

#banner {
    width: 100%;
    height: 300px;
}

h1 span {
    text-emphasis: triangle;
    text-decoration: solid underline;
}

h1 {
    margin: 8%;
    background-color: #31A87D;
    opacity: 90%;    
    border-radius: 10px;
}

/* Estilo del Nav */

.navList li {
    text-align: center;
    padding: 10px 20px;
    font-weight: bolder;
    font-style: italic;
    font-family: Libre Baskerville, serif;
    font-size: larger;
    border-width: 5px;; 
    margin: 0;
    transition-duration: 0.5s;
    border-radius: 20px;    
}

.navList {
    height: 100%;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    opacity: 80%;    
    border-radius: 10px;  
    padding: 0;  
}

/* Fuentes de texto */

.fuente1 {
    font-family: Libre Baskerville, serif;
    font-size: larger;
}

.fuente2{
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    text-align: center;
}

.fuente3 {
    font-family: Libre Baskerville, serif;
    font-size: smaller;
}

.fuente4 {
    -webkit-text-stroke: 2px #C78F95;
    font-family: 'Playfair Display', serif;
    font-size: 600%;
    color: #AD3319;
    text-align: center;
}

.fuente5 {
    font-family: Libre Baskerville, serif;
    font-size: 20px;
    font-weight: 600;
    color: forestgreen;
}

.fuente6 {
    font-family: Libre Baskerville, serif;
    font-size: larger;
    line-height: 50px;
    letter-spacing: 1px;
}

.fuente7{
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}

/* Modificadores de texto */

.subtitulo {
    border-bottom: solid;
}

.subtitulo2 {
    border-bottom: black double;
}

.subtitulo3 {
    border-bottom: white solid;
    border-width: 5px;
}

/* Modificadores de Display */

.estiloFlexColumn {
    display: flex;
    flex-direction: column;
}

.estiloFlexRow {
    display: flex;
    flex-direction: row;
}

.noMarginTop {
    margin-top: 0%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0 ;
    margin-right: 0;
}


/* Modificadores del Index */

/* Esquema del display */

.wrapperIndex {
    padding-right: 2%;
    padding-left: 2%;
    display: grid;
    grid-template-areas:
    "navi header header"
    "navi header header"
    "navi header header"
    "car car car"
    "car car car"
    "titulo titulo titulo"
    "main main aside"
    "main main aside"
    "footer footer footer";
    gap: 10px 30px;    
}

header {
    grid-area: header;
}

nav {
    grid-area: navi;
}

.carousel {
    grid-area: car;
    width: 100%;
}

.fuenteCar {    
    color:blue;
    background-color: whitesmoke;
    opacity: 90%;
    border-radius: 20px;
}

.widthCar {
    width: 100%;
    max-height: 673px;    
}

#bienvenida {
    grid-area: titulo;
    margin: 8%;    
    border-radius: 20px;
    border-style: groove;
    background-color: rgb(168, 218, 218);
    border-color: orangered;
    opacity: 80%;   
}

main {
    grid-area: main;
}

#sinopsis {
    margin: 6% 6%;
    background-color: whitesmoke;
    border-style: double;
    border-color: orange;
    border-width: 10px;
    border-radius: 20px;
}

.wrapperIndex aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    grid-area: footer;
    width: 100%;
    background-color: royalblue;
    border-radius: 20px;
}

footer p {
    padding-left: 5px;
}


/* modificadores de la página mugiwaras */

/* Texto superior */

#mugis {    
    margin: 4%;    
    border-radius: 20px;
    border-style: groove;
    background-color: rgb(168, 218, 218);
    border-color: orangered;
    opacity: 80%;    
}

#mugis p span {
    text-decoration: underline;
}

/* Cartas de cada personaje */

.mugiCard {
    font-family: Libre Baskerville, serif;
    background-color: black;
    border-radius: 20px;   
    color: white; 
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    width: 18rem;
}

.mugiCard img {
    border-radius: 20px;
    margin: 0;
}

.card-group {
    max-width: 300px;
}


/* Modificadores de la página Historia */


#construccion {
    margin: 4%;    
    border-radius: 20px;
    border-style: groove;
    background-color: whitesmoke;
    align-items: center;
}

#construccion img {
    height: 100px;
    min-width: 100px;
    border-radius: 20px;
}

.footerH {
    position: absolute;
    
}

/* Modificadores de la página "Marina" */

#marina {
    margin: 4%;    
    border-radius: 20px;
    border-style: groove;
    background-color: rgb(168, 218, 218);
    border-color: orangered;
    opacity: 80%;    
}

#listaRangos {        
    background-color: whitesmoke;
    border-style: double;
    border-color: powderblue;
    border-width: 10px;
    border-radius: 20px;
}

#marines {
    display: flex;
    flex-direction: column;
    margin: 10% 8%;
    background-color: whitesmoke;
    border-style: double;
    border-color: powderblue;
    border-width: 10px;
    border-radius: 20px;
}

#rangosMarine {    
    width: 100%;
}

.marineBtn {
    min-height: 120px;
}

.marineCard {
    width: 280px;
}

.marineList div {
    min-width: 280px;
}


/* Modificadores de la página "Otros Piratas" */

#otrosPiratas {    
    margin: 4%;    
    border-radius: 20px;
    border-style: groove;
    background-color: rgb(168, 218, 218);
    border-color: orangered;
    opacity: 80%;    
}

.yonkoIntro {
    margin: 4%;
    padding: 10px;    
    border-radius: 20px;    
    background-color: black;
    color: white;
}

#yonko2 {
    margin: 4%;    
    border-radius: 20px;    
    background-color: black;
    border: orange double;
    color: white;
}

#yonko2 div {
    padding: 5%;
}

#yonko2 div img {
    max-width: 100%;
    border-radius: 20px;
}

#shichibukai {
    margin: 4%; 
    padding: 10px;   
    border-radius: 20px;    
    background-color: black;
    color: white;
}

#shichibukai2 img {
    max-width: 260px;
}

.accordion-body {
    padding-left: 10px;
    padding-right: 10px;
}

.accordion-item {
    border-radius: 20px;    
    background-color: black;
    border: orange double;
    color: white;
}

.accordion-header {
    border-radius: 20px;    
    background-color: black;    
    color: white;
}

.accordion-button {
    border-radius: 20px;    
    background-color: black;    
    color: white;
}

/* Modificadores de la página "contacto" */

.wrapperContacto {
    padding-right: 2%;
    padding-left: 2%;
    display: grid;
    grid-template-areas:
    "navi header header"
    "navi header header"
    "navi header header"
    "titulo titulo titulo"
    "main main aside"
    "main main aside"
    "footer footer footer";
    gap: 30px 0;  
}

#contacto {
    grid-area: titulo;
    background-color: whitesmoke;
    border-radius: 20px;
    border-style: groove;
}

#mainContacto {
    grid-area: main;
    margin: 0;    
          
}

#formulario {
    background-color: whitesmoke;
    border-radius: 20px;
    border-style: groove;
}

#formulario div {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#comentario {
    display: block;
}

#textArea {
    width: 80%;
    height: 600px;
}

.wrapperContacto aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperContacto aside p {
    margin: 0;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: fit-content;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: animacionContacto;
}

@keyframes animacionContacto {
    0% {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    20% {
        background: rgb(0,36,34);
        background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 20%, rgba(1,181,234,1) 100%);
    }
    40% {
        background: rgb(0,36,34);
        background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 40%, rgba(1,181,234,1) 100%);
    }
    60% {
        background: rgb(0,36,34);
        background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 60%, rgba(1,181,234,1) 100%);
    }
    80% {
        background: rgb(0,36,34);
        background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 80%, rgba(1,181,234,1) 100%);
    }
    100% {
        background: rgb(0,36,34);
        background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%, rgba(1,181,234,1) 100%);
    }
}


/* Media Queries */

@media screen and (max-width: 935px){

    /* modificador del Nav */

    .navList {
        margin-right: 0;
        margin-left: 0;
    }

    /* Modificador de display de la página "Index" */

    .wrapperIndex {
        grid-template-areas:
        "navi header header header"
        "titulo titulo titulo titulo"
        "car car car car car"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    }

    .widthCar {
        width: 100%;
        max-height: 400px;    
    }  
    

    /* Modificador de Display de la página "Contacto" */

    .wrapperContacto {
        grid-template-areas:
        "navi header header"
        "navi header header"
        "navi header header"
        "titulo titulo titulo"
        "main main main"
        "aside aside aside"
        "footer footer footer";
    }

    .wrapperContacto aside {
        flex-direction: row; 
        justify-content: space-evenly;             
    }

    .wrapperContacto aside img {
        width: 250px;
    }
    
    .wrapperContacto aside p {        
        writing-mode:inherit;
        width:max-content;   
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);
        font-size: 200%;
    }
}


@media screen and (max-width: 768px) {

    #banner {        
        height: 150px;
    }    

    h1 {
        margin: 20px;
    }

    .navList li {
        padding: 5px 10px;
        font-size: larger;        
    }

    /* Modificador del Nav */

    .navList {
        height: auto;
        margin-left: 12%;
        margin-right: 11%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0;
    }

    /* Modificador de fuentes */

    .fuente1 {
        font-family: Libre Baskerville, serif;
        font-size: medium;
    }
    
    .fuente2{
        font-size: 100%;
    }

    .fuente4 {        
        font-size: 300%;       
    }
    
    .fuente5 {
        font-size: 15px;
    }
    
    .fuente6 {
        font-size: medium;
        line-height: 25px;
        letter-spacing: 0.5px;
    }
    
    .fuente7{
        font-size: 100%;
    }    
    
    /* Modificador de la página "Historia" */   

    .mainH {
        height: 500px;
    }

    /* modificaciones a la página "contacto" */

    #mainContacto {
        margin: 0;   
    }    
}

@media screen and (max-width: 767px) {

    .carousel {
        display: none;
    }
}

@media screen and (max-width: 630px) {

    /* Modificador de display de la página "Index" */ 
   
    .wrapperIndex aside {
        display: none;
    }

    .wrapperIndex {
        grid-template-areas:
       "header"
       "navi"
       "titulo"
       "main"       
       "footer";
    }

    /* Modificador de Display del Nav */

    .navList {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    /* Modificador del display de la página "Mugiwaras" */

    .bootNav {
        min-width: 280px;
        margin-left: 0;
        margin-right: 0;
    }


    /* Modificador del Display de la página "Historia" */

    .wrapperHist {
        grid-template-areas:
       "header"
       "navi"
       "main"       
       "footer";
    }  

    /* Modificador del Display de la página "Contacto" */

    .wrapperContacto {
        grid-template-areas:
       "header"
       "navi"
       "titulo"
       "main"       
       "footer";
    }

    .wrapperContacto aside {
        display: none;
    }

    
}

@media screen and (max-width: 531px) {

    .fuente1 {
        font-family: Libre Baskerville, serif;
        font-size: medium;
    }
    
    .fuente4 {        
        font-size: 300%;       
    }
    
    .fuente5 {
        font-size: 10px;
    }
    
    .fuente6 {
        font-size: small;
        line-height: 15px;
        letter-spacing: 0.25px;
    }
    
    .fuente7{
        font-size: 100%;
    }

    /* Modificación del Nav */

    .navList {        
        grid-template-columns: 1fr 1fr;            
    }   

    .navList li {
        padding: 5px 10px;
        font-size: smaller;        
    }


    /* Modificaciones del Header */

    #banner {        
        height: 100px;
    }    

    h1 {
        margin: 10px;
    }

    /* Modificadores del index */

    #bienvenida {
        margin: 8% 0;    
    }

    #sinopsis {
        margin: 0;       
    }

    /* Modificadores de la página "Historia" */

    #construccion img {
        height: 50px;
        width: 100px;
        min-width: 0;
    }
    
    #construccion p {
        font-size: smaller;
    }    

}





